
* {
    margin: 0px;
    padding: 0px;
}

#container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid rgb(255, 215, 0);
}

body {
    text-align: center;
    background-color: rgb(0, 0, 0);
}

button {
    margin: 32px;
    padding: 8px 16px;
    width: 150px;
}